html, body{
    font-family:'Saira';
}
body{
    background: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}
header {
background:linear-gradient(to right,turquoise, steelblue);
}

footer {
    background:linear-gradient(to right,turquoise, steelblue);
}

nav {
    display:flex;

}
a{
    color: black;
}
a:hover{
    color: purple;
}
button{
    background-color: turquoise;
}