nav{
    display:flex;
    justify-content:flex-end;
    padding-bottom:10%;
    border-bottom: 2px dashed @navigation-border;
    a{
        text-decoration:none;
        margin: 0 5%;
        color: black;

    }
}
