//color assignments
@font-color: black;
@footer-bg: turquoise;
@header: turquoise;
@button-bg: turquoise;
@main-color:steelblue;
// mobile
@mobile: ~'(max-width:500px)';
@tablet: ~'(max-width: 800px)';
